.meetup-list {
  padding: 0 1rem;
  margin: 0 1rem;
  border: 1px solid #b3e8ea;
  background: white;
}

.meetup-header {
  margin-top: .75rem;
  padding: .75rem 1rem;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  text-align: center;
  display: block;
  width: 100%;
  box-sizing: border-box;
}