* {
  font-family: calibri;
}

span, label, ul, li, p, a, button, input, select, textarea {
  color:  #1f1f1f;
}

.form-header > span {
  font-size: 1.35rem;
}

h1 {
  font-size: 1.45rem;
}

h2 {
  font-size: 1.35rem;
}