


// Display form based on registration status
body .meetup, body .registration {
  display: none;
}

.registered .registration {
  display: none;
}

.registered .meetup {
  display: flex;
}

.unregistered .meetup {
  display: none;
}

.unregistered .registration {
  display: block;
}


// page & content wrappers - top level containers
.page-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: aliceblue;
  position: relative;
}

.content-wrapper {
  width: 100%;
  max-width: 1100px;
  padding: 1rem 2rem;
  margin: 0 auto;
  box-sizing: border-box;
}

.page-header {
  position: absolute;
  left: 0;
  top: 0;
  height: 45px;
  line-height: 45px;
  background: white;
  text-align: center;
  width: 100%;
  font-weight: bold;
  border-bottom: 1px solid #b3e8ea;
  font-size: 1.25rem;
}