// used for two column "rows"
// !!-OVERUSED - Should use flex more sparingly
.two-col {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    & > * {
      width: 50%;
    }
  }


  .hide {
  display: none;
}

.row {
  display: flex;
}

.block-center {
  display: block;
  margin: 0 auto;
}