input[type=text],
input[type=email],
input[type=number],
input[type=password],
input[type=date],
input[type=datetime-local],
input[list],
select,
textarea {
  width: 100%;
  border-bottom: 1px solid #b3e8ea;
  border-left: 1px solid #b3e8ea;
  border-color: #b3e8ea;
  box-sizing: border-box;
  border-radius: 0 0 0 5px;
  padding: .25rem .5rem;

  &[valid], &:focus[valid] {
    border-color: #54e054;
  }

  &[invalid] {
    border-color: red;
  }

  &:focus {
    border-color: #fdc311;
  }
}

input[type=text],
input[type=email],
input[type=number],
input[type=password],
input[list] {
    padding: .4rem .5rem;
}

label.radio-label {
  margin-right: .5rem;
}

label > span.input-label {
  display: block;
  margin-bottom: .25rem;
}


button.std-submit {
  border: 1px solid #b3e8ea;
  padding: .5rem 3rem;
  color: #1f1f1f;
  border-radius: 5px;
  font-size: 1rem;
}

button.std-submit:hover {
  border-color: #fdc311;
}

button.std-submit:disabled {
  border-color: #ddd;
  color: #ddd;
}

.form-header {
  border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
  text-align: center;
}

// spacng for form items 
.form-group {
  
  padding: .75rem 1rem;
  

  &:first-child {
    margin-top: .75rem;
  }

  &:last-child {
    margin-bottom: .75rem;
  }
  
  // re-align inputs in a row
  &.two-col {
    align-items: flex-end
  }


  // adds some spacing to form items inline with each other
  & > label {
    box-sizing: border-box;
  }
  & > label:not(:only-child):not(:last-child) {
    padding-right: .25rem;
  }
  & > label:not(:only-child):last-child {
    padding-left: .25rem;
  }

}



