.meetup-form {
  padding: 0 1rem;
  margin: 0 1rem;
  border: 1px solid #b3e8ea;
  background: white;
}

.meetup-invites {
  & .form-input {
    flex-grow: 2 ;
    margin-right: .5rem;
  }
  & .add-guest {
    width: 115px;
  }
}

.guest-input {
  & > input {
    flex-grow: 2;
  }
  & > button {
    width: 115px;
    border: 1px solid #b3e8ea;
    margin-left: .5rem;
  }
}



.invite-list:empty {
  margin-top: 0;
  border: none;
}

.invite-list:not(:empty) {
  
  margin-top: .5rem;
  border: 1px solid #b3e8ea;
  max-height: 95px;
  overflow-y: auto;
  
  & > li {
    padding: .25rem .5rem;
    position: relative;
    font-size: .8rem;

    &:nth-child(odd) {
      background: #f0f8ff;
    }

    &:nth-child(even) {
      background: white;
    }
  }

}
